/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
  margin: 0px;
  text-transform: none;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

/* textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
} */

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

/*==================================================================
[ Background ]*/
/*---------------------------------------------*/
.contact100-header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 10px 35px;
}

.contact100-header-logo img {
  max-height: 23px;
}

.btn-show-form {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #846add;
  text-transform: uppercase;
  letter-spacing: 1px;

  display: block;
  min-width: 160px;
  height: 42px;
  background-color: #fff;
  border-radius: 21px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-form:hover {
  color: #fff;
  background-color: #c4c4c4;
}

/*==================================================================
[ Content container ]*/
.form-container {
  width: 100%;  
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(211, 211, 211, 0.8);
  position: absolute;
  z-index: 100;
}

.login-container {
  width: 100%;  
  min-height: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background: rgba(211, 211, 211, 0.8); */
  position: absolute;
  z-index: 100;
}

.wrap-form {
  width: 560px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  margin-top: 40px;
}

.login-wrap-form {
  width: 560px;
  background: #fff;
  border-radius: 3px;
  position: relative;
}

.wrap-search-form {
  width: 70%;
  background: #fff;
  border-radius: 3px;
  position: relative;
  margin-top: 40px;
}

/*==================================================================
[ Title form ]*/
.default-form-title {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-transform: none;

  width: 100%;
  min-height: 50px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: darkslategrey;
}

.default-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(67,67,67,0.6);
}

.login-form-title {
  font-family: Montserrat-Bold;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;

  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;
}

.notification-form-title {
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  width: 100%;
  min-height: 40px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  
  padding: 10px 5px 10px 5px;
}

.notification-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(67,67,67,0.6);
}

/*==================================================================
[ Form ]*/
.default-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 55px 48px 55px;
}

.login-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 55px 48px 55px;
}

.login-form-btn {
  font-family: Montserrat-Regular;
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  padding: 3px 8px 3px 8px;
  text-align: center;
  width: auto;
  height: 30px;
}
.login-form-btn:active {
  color:red;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

/*------------------------------------------------------------------
[ Input ]*/
.wrap-inputText {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 15px
}

.label-inputText {
  font-size: 18px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  left: 2px;
}

.label-inputText.rs1 {
  height: 60px;
}

.inputText {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
  padding: 0 25px 0 60px;
  border-width: 2px;
}

.checkBox {
  border-width: 0;
  text-transform: none;
  color: #333333;
  font-size: 15px;
  padding: 0 25px 0 60px;
  font-family: Montserrat-Regular;
}

.inputButton {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

input.inputText {
  height: 55px;
}

button.inputText {
  height: 55px;
}

.search-cursor {
  cursor: pointer;
}

/*---------------------------------------------*/
.focus-inputText {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid;
  border-radius: 2px;
  border-color: #846add;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.inputText:focus + .focus-inputText {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.inputText:focus + .focus-inputText + .label-inputText {
  color: #846add;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-default-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 17px;
}

.default-form-btn {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #FF8C00;

  box-shadow: 0 10px 30px 0px rgba(255, 140, 0, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(255, 140, 0, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(255, 140, 0, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(255, 140, 0, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(255, 140, 0, 0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.default-form-btn:hover {
  background: #868686;
  box-shadow: 0 10px 30px 0px rgba(134, 134, 134, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(134, 134, 134, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(134, 134, 134, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(134, 134, 134, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(134, 134, 134, 0.5);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 770px) {
  .list-wrapper {
    margin-top: -2rem !important;
  }
}

@media (max-width: 576px) {
  .default-form {
    padding: 40px 15px 48px 15px;
  }

  .inputText {
    padding: 0 25px 0 40px;
  }

  .label-inputText {
    width: 40px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate .focus-inputText {
  box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
}

.alert-validate::before {
  content: "";
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: transparent;
  border: 1px solid #fa4251;
  border-radius: 2px;
  top: -1px;
  left: -1px;
  pointer-events: none;
}

.btn-hide-validate {
  font-family: Material-Design-Iconic-Font;
  font-size: 18px;
  color: #fa4251;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0px;
  right: -25px;
}

.rs1-alert-validate.alert-validate::before {
  background-color: #fff;
}

.true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 18px;
  color: #00ad5f;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0px;
  right: -25px;
}

/*---------------------------------------------*/
@media (max-width: 576px) {
  .btn-hide-validate {
    right: 10px;
  }
  .true-validate::after {
    right: 10px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Button show / hide ]*/
.btn-hide-contact100 {
  font-size: 30px;
  color: #fff;
  opacity: 0.6;
  position: absolute;
  right: 0;
  padding: 10px;
  z-index: 2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-hide-contact100:hover {
  opacity: 1;
}

.user, .user__form, .user__list, .user__item, .user__info,
.template, .list-wrapper-second, .template__item, .template__assignee .template__tasks-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------------------------------
*/

.list-wrapper {
  width: 100%;
  margin-top: -4rem;
  max-width: 120rem;
  z-index: 2;
  font-family: 'lato', sans-serif;
  color: black;
  text-transform: none;
  font-size: 1rem;
}

.list-wrapper-first {
  padding-left: 90px;
  padding-right: 90px;
  z-index: 2;
}

.list-wrapper-second {
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: .3rem;
  border: .1rem solid #d8d8d8;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,.19);
}

.list-wrapper-title {
  font-size: 1.3rem;
  line-height: 3.45rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  letter-spacing: normal;
  text-align: center;
  color: #333;
  margin: 15px 0 20px 0;
  font-family: Trebuchet MS;
  text-transform: none;
}

.list-wrapper-title::before {
  content: "";
  border-top: 2px solid #d8d8d8;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.list-wrapper-title::after {
  content: "";
  border-top: 2px solid rgb(216, 216, 216);
  margin: 0 0 0 20px;
  flex: 1 0 20px;
}

.app-title {
  font-size: 1.3rem;
  line-height: 3.45rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  display:inline-block;
  letter-spacing: normal;
  font-family: Trebuchet MS;
  text-transform: none;
}

.header-nav {
  text-align: right;
  min-height: 20%;
  padding: 0 30px 0 10px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.header-nav-logged-out {
  text-align: right;
  min-height: 20%;
  padding: 0 10px 0 10px;
  color: #333;
}

.header-nav-item {
  display: inline-block;
  vertical-align: middle;
}

.header-nav-link {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.header-nav-spacer {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px 0 20px;
}

/*-------------------------------------------------------------------
[Menu Item Button] */
.menu-item-btn {
  color: #494949 !important;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  border: 4px solid #afafaf !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  width: 130px;
}
.menu-item-btn:hover {
  color: #ffffff !important;
  background: #1fc1c8;
  border-color: #1fc1c8 !important;
  transition: all 0.4s ease 0s;
}
.menu-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}
blockquote{
  font-size: 30px;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: .5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
  height: 100%;
}
blockquote:before {
  /* content: open-quote; */
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
  font-family: serif;
}
footer{
  margin:0;
  text-align: right;
  font-size: 0.5em;
  font-style: italic;
}
.success-info {
  padding: 10px;
}

.fade-enter {
  opacity: 0.01;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in
}
.session-list {
  width: 100%;
}